#miniview {
	position: fixed;
	width: 125px;
	height: 125px;
	top: 20px;
	right: 20px;
	background-color: #EEE;
	border: 1px solid #AAA;
	opacity: 0.9;
	z-index: 1;
}

.mini {
	position: absolute;
	background-color: rgb(96, 122, 134);
}

.port {
	position: absolute;
	box-sizing: border-box;
	background-color: rgba(79, 111, 126, 0.4);
	z-index: 1;
	cursor: move;
}